/* Container principale */
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  width: 550px;
  height: 550px;
  margin: 150px auto; /* Center the container */
  background: #fff;
  padding-bottom: 30px;
}

/* Styles de base pour le corps de la page */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  color: #6c946f;
  background: #36ba98;
}

/* En-tête */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}

.text {
  color: #50b498;
  font-size: 48px;
  font-weight: 700;
}

.underline {
  width: 61px;
  height: 6px;
  background: #50b498;
  border-radius: 9px;
}

/* Champs de saisie */
.inputs {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center; /* Center inputs horizontally */
}

.input {
  display: flex;
  align-items: center;
  width: 480px;
  height: 80px;
  background: #eaeaee;
  border-radius: 6px;
}

.input img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 19px;
}

.forgot-password {
  padding-left: 20px;
  margin-top: 10px;
  color: #797979;
  font-size: 18px;
}

input::placeholder {
  text-align: center;
}

.forgot-password span {
  color: #50b498;
  cursor: pointer;
}

.Remember-forgot-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px; /* Match input width */
  color: #797979;
  font-size: 18px;
  margin-top: 10px;
}

.Remember-me {
  display: flex;
  align-items: center;
}

.Check-box {
  margin-right: 5px; /* Space between checkbox and label */
}

.submit-container {
  display: flex;
  justify-content: center; /* Center button horizontally */
  width: 100%; /* Ensure it takes full width */
  margin-top: 20px; /* Add space above button */
}

.submit-button {
  width: 220px;
  height: 59px;
  color: #fff;
  background: #50b498;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center; /* Center text inside button */
}

.submit-button:hover {
  opacity: 0.6;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: -20px;
  text-align: left;
  margin-left: 20px;
}
